{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> SEARCH </title>
    <link rel='stylesheet' href="{% static 'search.css' %}" >
</head>
<body>
    <div class="container">
        <div class='headbox'>
            <div class='logo'>
                <a href="{% url 'search' %}"> 골목책방 </a>
            </div>
            <div class='homebox'>
                <a href="{% url 'search' %}"> HoME </a>
            </div>
        </div>
        <div class='searchbox'>
            <form action = "{% url 'result' %}" method = 'GET' >
                <div class="selectbox">
                    <select id=type>
                        <option value="all">전체 </option>
                        <option value="name">서점</option>
                        <option value="city_address_of_bookstore">지역</option>
                        <option value="bookstore_information">서점 정보</option>
                        <option value="trait">책 이름</option>
                    </select>
                </div>
                <input class="input_box" type="text" name="query" value="{{query}}" placeholder=" 검색어를 입력해주세요 !">
                <button id="imgbutton" type="submit" value=""> 검색 </button>
            </form>
        </div>
    </div>
</body>
</html>