html, body {
    height: 100%;
}

a { text-decoration: none; }
a { color: rgb(255, 255, 255); }

.container{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url('고요서사.jpg');
    opacity: 0.83;
}
.searchbox{
    display: flex;
    flex-direction: row;
    width: 700px;
    height: 48px;
    position: absolute;
    top: 25%;
    left: 33%;
}
.logo{
    width: 300px;
    height: 70px;
    position: absolute;
    top: 11%;
    left: 42%;
    font-size: 65px;
    font-weight: 900;
}
.homebox{
    position: absolute;
    font-size: 40px;
    font-weight: 400;
    top: 3%;
    left: 3%;
}
.input_box{
    width: 500px;
    height: 48px;
    opacity: 100;
    background-color: rgba(192, 192, 192, 0.726);
    opacity: 0.85;
    border-radius: 15px;
    font-size: 20px;
    border: none;
}
#type{
    background-color:  rgba(192, 192, 192, 0.726);
    height: 45px;
    width: 60px;
    border-radius: 15px;
}
.selectbox{
    position: absolute;
    top:1.5px;
    left:-70px;
}
#imgbutton{
    position: absolute;
    top:8px;
    left: 425px;
    opacity: 0.5;
    height: 30px;
    width: 70px;
    border-radius: 15px;
}
.alert{
    position: absolute;
    top: 100px;
    left: 100px;
    font-size: 10px;
}