{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" type="text/css" href="{% static 'css/location.css' %}">
    <title>Independent Book Store</title>
</head>
<body>
    <div class="container"><br>
        <ul class="navbar">
            <li class="title">
                <h1>지역들</h1>
            </li>
            <li class="move_navbar">
                <a href="{% url 'golmokchaekbang:home' %}">
                    <span>HoME</span>
                </a>
            </li>
        </ul>
        <br><br><br><br>
        <div class="content">
            {% for city_list in city %}
            <div class="bookstore">
                <a href="{% url 'bookstore' city_list.name %}">{{city_list.name}}</a>
            </div>
            <br><br><br><br>
            {% endfor %}
        </div>
    </div>
</body>
</html>