<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Independent Book Store</title>
</head>
<body>
	<table class="table">
		<thread>
			<tr>
				<th>No.</th>
				<th>Title</th>
				<th>Writer</th>
				<th>Date</th>
				<th>Hits</th>
			</tr>
		</thread>
		<tbody>
			{% for i in blog_list %}
			<tr>
				<td>{{i.num}}</td>
				<td><a href="{% url 'community_view' i.id %}">{{i.title}}</a>({{i.comments.count}})</td>
				<td>{{i.author}}</td>
				<td>{{i.time}}</td>
				<td>{{i.hit}}</td>
				<div style="margin-left: 20px;margin-top: 20px;">
					<h4>Contents</h4>
					{{post.update_counter}}
					{{post.post_contents}}
				</div>

			</tr>
			{% endfor %}
		</tbody>
	</table>
	<div class="second">
        <a href="{% url 'community_write' %}">새글쓰기</a>
	</div>
</body>
</html>