<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>글 제목 - {{blog.title}}</h1>
    <h2>내용 - {{blog.text}}</h2>
    <p>글쓴이 : {{blog.author}}</p>
	<p>작성 날짜 : {{blog.time}}</p>
	
	<hr>
	<form action="{% url 'comment_write' post_pk=blog.pk %}" method="POST">
		{% csrf_token %}
		<input type="text" name="content" placeholder="댓글을 작성해주세요">
		<input type="submit" value="등록">
	</form>

	<hr>
	{% for comment in post.comments.all %}
	<div class="comment">
		<div class="date">{{comment.comment_date}}</div>
		<div class="writer">{{comment.comment_writer}}</div>
		<p>{{comment.comment_contents}}</p>
	</div>
	{% endfor %}

    <a href="{% url 'community_delete' blog.id %}">삭제하기</a>
    <a href="{% url 'community_update' blog.id %}">수정하기</a>



</body>
</html>